testapp/src/main/mule/testapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e7e93d5d-1ef0-4420-abbd-7f581435691f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testappFlow" doc:id="f37b07ec-b426-44c2-a71b-06d98435d24d" >
		<http:listener doc:name="Listener" doc:id="91d8a18d-a16f-4848-8d92-68dc6e099c54" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="testpayload" doc:name="Set Payload" doc:id="a6b61d85-0d34-4cd0-88c0-8cf3a4361318" />
		<logger level="INFO" doc:name="Logger" doc:id="2b655d72-3a72-4db7-8e84-ff4ebceaa9c6" message="#[payload]"/>
	</flow>
</mule>
